In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [2]:
df1 = pd.read_csv('SEL.csv')
df2 = pd.read_csv('Noise.csv')

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65534 entries, 0 to 65533
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Time      65533 non-null  object
 1   ChannelA  65533 non-null  object
 2   ChannelB  65533 non-null  object
 3   ChannelD  65533 non-null  object
dtypes: object(4)
memory usage: 2.0+ MB

In [4]:
output1 = pd.merge(df1, df2,
                  on = 'Time',
                  how = 'outer')

In [5]:
print(output1)

              Time  ChannelA ChannelB_x  ChannelD ChannelB_y
0              (s)       (V)       (mV)       (V)        (V)
1              NaN       NaN        NaN       NaN        NaN
2                0  1.614173   86.61417  3.385827  0.3858268
3         0.000006  1.614173   86.61417  3.385827        NaN
4       0.00001201  1.574803   90.55118  3.425197        NaN
...            ...       ...        ...       ...        ...
130954  0.06584153       NaN        NaN       NaN  0.3779528
130955  0.06584253       NaN        NaN       NaN  0.3779528
130956  0.06584354       NaN        NaN       NaN  0.3858268
130957  0.06584454       NaN        NaN       NaN  0.3858268
130958  0.06584555       NaN        NaN       NaN  0.3779528

[130959 rows x 5 columns]

In [12]:
output1.drop(output1.index[0],inplace=True)
output1.drop(output1.index[0],inplace=True)
output1

              Time  ChannelA ChannelB_x  ChannelD ChannelB_y
2                0  1.614173   86.61417  3.385827  0.3858268
3         0.000006  1.614173   86.61417  3.385827        NaN
4       0.00001201  1.574803   90.55118  3.425197        NaN
5       0.00001801  1.535433   90.55118  3.425197        NaN
6       0.00002401  1.614173   90.55118  3.385827        NaN
...            ...       ...        ...       ...        ...
130954  0.06584153       NaN        NaN       NaN  0.3779528
130955  0.06584253       NaN        NaN       NaN  0.3779528
130956  0.06584354       NaN        NaN       NaN  0.3858268
130957  0.06584454       NaN        NaN       NaN  0.3858268
130958  0.06584555       NaN        NaN       NaN  0.3779528

[130957 rows x 5 columns]

In [20]:
output1=output1.reset_index(drop=True)
output1

              Time  ChannelA ChannelB_x  ChannelD ChannelB_y
0                0  1.614173   86.61417  3.385827  0.3858268
1         0.000006  1.614173   86.61417  3.385827        NaN
2       0.00001201  1.574803   90.55118  3.425197        NaN
3       0.00001801  1.535433   90.55118  3.425197        NaN
4       0.00002401  1.614173   90.55118  3.385827        NaN
...            ...       ...        ...       ...        ...
130952  0.06584153       NaN        NaN       NaN  0.3779528
130953  0.06584253       NaN        NaN       NaN  0.3779528
130954  0.06584354       NaN        NaN       NaN  0.3858268
130955  0.06584454       NaN        NaN       NaN  0.3858268
130956  0.06584555       NaN        NaN       NaN  0.3779528

[130957 rows x 5 columns]

In [45]:
output1['Time'].astype('float')
output1['ChannelA'].astype('float')
output1['ChannelB_x'].astype('float')
output1['ChannelD'].astype('float')
output1['ChannelB_y'].astype('float')

0         0.385827
1              NaN
2              NaN
3              NaN
4              NaN
            ...
130952    0.377953
130953    0.377953
130954    0.385827
130955    0.385827
130956    0.377953
Name: ChannelB_y, Length: 130957, dtype: float64

In [29]:
output1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130957 entries, 0 to 130956
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Time        130957 non-null  object
 1   ChannelA    65532 non-null   object
 2   ChannelB_x  65532 non-null   object
 3   ChannelD    65532 non-null   object
 4   ChannelB_y  65532 non-null   object
dtypes: object(5)
memory usage: 5.0+ MB

In [30]:
output1.describe()

              Time  ChannelA ChannelB_x  ChannelD ChannelB_y
count       130957     65532      65532     65532      65532
unique      130957         8          7         6          5
top     0.07125799  1.614173   90.55118  3.385827  0.3779528
freq             1     33750      32107     41310      34354

In [31]:
output1.isnull().sum()

Time              0
ChannelA      65425
ChannelB_x    65425
ChannelD      65425
ChannelB_y    65425
dtype: int64

In [32]:
y = pd.DataFrame(output1[['ChannelA','ChannelB_x','ChannelD','ChannelB_y']])
X = pd.DataFrame(output1['Time'])

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [37]:
y_train

        ChannelA ChannelB_x  ChannelD ChannelB_y
20367   1.614173   90.55118  3.385827        NaN
96184        NaN        NaN       NaN  0.3858268
315     1.574803   90.55118  3.385827        NaN
102585       NaN        NaN       NaN  0.3779528
56110   1.614173   90.55118  3.425197        NaN
...          ...        ...       ...        ...
48523   1.614173   86.61417  3.346457        NaN
64120   1.614173   94.48818  3.385827        NaN
93836        NaN        NaN       NaN  0.3779528
5977    1.614173   90.55118  3.385827        NaN
100454       NaN        NaN       NaN  0.3779528

[91669 rows x 4 columns]

In [35]:
error_rate=[]
for i in range(1,60):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train,y_train)
    pred_i = knn.predict(X_test)
    error_rate.append(np.mean(pred_i != y_test))

ValueError: Input contains NaN